@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tourney&display=swap');

* {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: 'Tourney', cursive;
  scroll-behavior: smooth;
}

:root {
  --primary: #4169e1;
  --dark: #4169b1;
  --border: 2px solid white;
  --font: 'Roboto Mono', monospace;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav a:not(#logo) {
  padding: 15px;
  background: var(--primary);
  width: 100%;
  margin: 10px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 10px;
  list-style: none;
  text-transform: uppercase;
  transition: 0.8s;
  line-height: 2;
}

nav a:hover:not(#logo) {
  background: var(--dark);
  transition: 0.8s;
}

#logo {
  margin: 15px;
  list-style: none;
}

.showcase #active {
  background: var(--dark);
}

.showcase {
  background: url(img/showcase.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  line-height: 2;
}

.showcase h1 {
  font-size: 50px;
  margin-top: 10%;

}

.showcase p {
  font-size: 20px;
  font-family: var(--font);
  padding: 10px 40px;
  margin: 0px 50px;
  background-color: rgba(65, 105, 225, 0.4);
  border-radius: 60px;
}

#scroll-down {
  position: absolute;
  bottom: 10vh;
  left: 48vw;
}

iframe {
  border: var(--border);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin: 30px;
  width: 95vw;
  height: 60vh;
}

#location {
  background: var(--dark);
  border-top: var(--border);
  border-bottom: var(--border);
}

#content {
  text-align: center;
  background: var(--dark);
  border: var(--border);
  padding: 20px;
  border-radius: 10px;
}

#content p {
  padding: 20px 10vw;
  text-align: justify;
  font-family: var(--font);
}

#content img {
  position: relative;
  border-radius: 10px;
  left: 3.5vw;
  width: 30vw;
}

#scroll-left {
  position: relative;
  right: 50vw;
  bottom: 15vh;
}

#scroll-right {
  position: relative;
  left: 20vw;
  bottom: 15vh;
}

.content {
  display: none;
}

.container .active {
  display: inline-block;
}

.btn-container .tab-btn {
  font-size: 20px;
  background: var(--primary);
  padding: 10px 20px;
  margin: 0px 20px 20px 20px;
  border: var(--border);
  border-radius: 10px;
}

.quiz {
  background: var(--dark);
  text-align: center;
  padding: 20px 10%;
  border: var(--border);
  border-radius: 10px;
}

.question {
	font-size: 24px;
	margin: 10px;
	font-family: var(--font);
}

.answers {
  margin-bottom: 20px;
	text-align: justify;
	font-family: var(--font);
}

.quiz #submit {
  background: var(--primary);
  border: var(--border);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  background: var(--primary);
  text-align: center;
  padding: 30px;
}
