@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tourney&display=swap');

* {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: 'Tourney', cursive;
  scroll-behavior: smooth;
}

:root {
  --primary: #4169e1;
  --dark: #4169b1;
  --border: 2px solid white;
  --font: 'Roboto Mono', monospace;
}

/*Navigation bar*/

nav ul {
  display: flex;
  flex-direction: row;
}

nav li:not(#logo) {
  padding: 15px;
  background: var(--primary);
  width: 100%;
  margin: 10px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 10px;
  list-style: none;
  text-transform: uppercase;
  transition: 0.8s;
  line-height: 2;
}

nav li:hover:not(#logo) {
  background: var(--dark);
  transition: 0.8s;
}

#logo {
  margin: 15px;
  list-style: none;
}

.showcase #active {
  background: var(--dark);
}

@media only screen and (max-width: 800px) {
  nav li {
    width: 100vw;
  }
}

/*Landing page*/

.showcase {
  background: url(img/showcase.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  line-height: 2;
}

.showcase h1 {
  font-size: 50px;
  margin-top: 5%;
}

.showcase p {
  font-size: 20px;
  font-family: var(--font);
  padding: 10px 40px;
  margin: 0px 50px;
  background-color: rgba(65, 105, 225, 0.4);
  border-radius: 60px;
}

#scroll-down {
  position: relative;
  top: 10vh;
  padding-bottom: 15vh;
}

/*Details section*/

iframe {
  border: var(--border);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin: 3.8vw;
  width: 92vw;
  height: 60vh;
}

#location, #details {
  background: var(--dark);
  border-top: var(--border);
}

#details {
  padding: 30px;
}

#details h1 {
  text-align: center;
  font-size: 30px;
}

#details p {
  display: inline-block;
  font-family: var(--font);
  font-size: 18px;
  padding: 20px;
}

#details img {
  text-align: center;
  border-radius: 20px;
  border: var(--border);
  margin: 1vw;
  width: 20vw;
}

@media only screen and (max-width: 800px) {
  #details img {
    width: 40vw;
  }
}

/*Tabs content*/

#content {
  text-align: center;
  background: var(--dark);
  border: var(--border);
  padding: 20px;
  border-radius: 10px;
}

#content p {
  padding: 20px 10vw;
  text-align: justify;
  font-family: var(--font);
}

#content img {
  position: relative;
  border-radius: 10px;
  width: 30vw;
}

.content {
  display: none;
}

.container .active {
  display: inline-block;
}

.btn-container .tab-btn {
  font-size: 20px;
  background: var(--primary);
  padding: 10px 20px;
  margin: 0px 20px 20px 20px;
  border: var(--border);
  border-radius: 10px;
  width: 200px;
}

/*Computer science quiz*/

.quiz {
  background: var(--dark);
  text-align: center;
  padding: 20px 10%;
  border: var(--border);
  border-radius: 10px;
}

.question {
	font-size: 24px;
	margin: 10px;
	font-family: var(--font);
}

.answers {
  margin-bottom: 20px;
	text-align: justify;
	font-family: var(--font);
}

.quiz #submit {
  background: var(--primary);
  border: var(--border);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

/*Drag and drop element*/

.drag-and-drop {
  background: var(--dark);
  border-radius: 10px;
}

.drag-and-drop h1 {
  text-align: center;
  padding: 20px;
}

.parent {
  border: 2px solid white;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.origin {
  background: var(--dark);
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.dropzone {
  background-color: var(--primary);
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.origin p, .dropzone p {
  text-align: center;
  font-size: 20px;
}

/*Footer*/

footer {
  background: var(--primary);
  border-top: var(--border);
  text-align: center;
  padding: 30px;
  font-size: 18px;
}

footer p {
  font-size: 24px;
}

footer i {
  padding: 20px 20px 0px 20px;
}
